# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-electron/

# Go
.gocache/
parser/.gocache/

# Local
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build
parser/parser.exe

# Generated parser outputs
parser/result.json
parser/player_states.json
parser/output/

# Demo files
*.dem

*.zip